@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1px;
}

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;

	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.app {
	min-height: 100%;
	height: 100%;
}

.testimonial {
  transition: opacity 2s ease-in-out;
}

.client {
  transition: opacity 2s ease-in-out;
}

@layer utilities
{
  .mark-point
  {
    @apply flex mb-5;
  }

  .mark-text
  {
    @apply place-self-center lg:text-2xl text-xl ml-4 
  }

  .partner-logo
  {
    @apply mx-auto
  }

  .heading
  {
    @apply text-3xl
  }

  .form-label
  {
    @apply text-lg mb-4
  }

  .form-input
  {
    @apply w-full bg-transparent border border-b-black border-t-transparent border-r-transparent border-l-transparent outline-none
  }

  .link
  {
    @apply self-center font-franklin hover:cursor-pointer w-fit h-fit
  }

  	.dropdown {
		@apply absolute right-0 top-full mt-3 flex w-full min-w-[210px] flex-col items-end justify-end gap-2 rounded-lg bg-slate-50 p-5
	}

	.dropdown_link {
		@apply font-franklin text-sm hover:cursor-pointer
	}

  .nav_link {
		@apply font-medium transition-colors duration-500 ease-in-out hover:text-blue-200;
	}

  .option-button{
    @apply text-slate-100 bg-blue-200 text-2xl font-bold sm:p-7 p-3 w-fit 
  }
}