@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1px;
}

.testimonial {
  transition: opacity 2s ease-in-out;
}

.client {
  transition: opacity 2s ease-in-out;
}

@layer utilities
{
  .mark-point
  {
    @apply flex mb-5;
  }

  .mark-text
  {
    @apply place-self-center sm:text-2xl text-xl ml-4 
  }

  .partner-logo
  {
    @apply mx-auto
  }
}