@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1px;
}

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;

	pointer-events: none;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}
.app {
	min-height: 100%;
	height: 100%;
}

.testimonial {
  transition: opacity 2s ease-in-out;
}

.client {
  transition: opacity 2s ease-in-out;
}

@layer utilities
{
  .mark-point
  {
    @apply flex mb-5;
  }

  .mark-text
  {
    @apply place-self-center sm:text-2xl text-xl ml-4 
  }

  .partner-logo
  {
    @apply mx-auto
  }

  .heading
  {
    @apply text-3xl
  }

  .form-label
  {
    @apply text-lg mb-4
  }

  .form-input
  {
    @apply w-full bg-transparent border border-b-black border-t-transparent border-r-transparent border-l-transparent outline-none
  }

  .link
  {
    @apply self-center font-franklin hover:cursor-pointer w-fit h-fit
  }

  	.dropdown {
		@apply absolute right-0 top-full mt-3 flex w-full min-w-[210px] flex-col items-end justify-end gap-2 rounded-lg bg-slate-50 p-5
	}

	.dropdown_link {
		@apply font-franklin text-sm hover:cursor-pointer
	}

  .nav_link {
		@apply sm:text-lg transition-all duration-1000 ease-in-out hover:text-blue-200  pr-2;
	}

  .option-button{
    @apply text-slate-100 bg-blue-200 text-2xl font-bold sm:p-7 p-3 w-fit 
  }

  .disabled-next-button
  {
    @apply p-3 text-2xl font-franklin bg-blue-200 opacity-50 text-slate-100 cursor-not-allowed mt-24 w-1/3 mx-auto
  }

  .enabled-next-button
  {
    @apply p-3 text-2xl font-franklin bg-blue-200 text-slate-100 cursor-pointer mt-24 w-1/3 mx-auto
  }

  .option-card
  {
    @apply sm:w-3/4 mx-auto pt-12 sm:pt-24 min-h-screen
  }

  .heading-question
  {
    @apply text-center text-2xl font-semibold font-franklin
  }

  .button-list
  {
    @apply xl:w-1/4 lg:w-2/4 sm:w-3/4 w-5/6  mx-auto flex flex-col
  }

  .choice-button
  {
    @apply p-3 bg-slate-100 text-blue-200 border-2 border-blue-200 mt-10 text-xl hover:bg-blue-200 hover:text-slate-100 font-franklin
  }

  .selected-choice-button
  {
    @apply bg-blue-200 text-slate-100
  }

  .options-input
  {
    @apply p-3 bg-white text-xl font-franklin border-2 border-blue-200 focus:outline-none 
  }

  .back-button
  {
    @apply mt-5 p-3 bg-slate-100 text-2xl font-franklin text-blue-200 cursor-pointer
  }

  .options-input-area
  {
    @apply flex flex-col w-5/6 mt-16
  }

  .options-input-2
  {
    @apply text-lg mt-2 p-1 font-franklin bg-slate-100 border-b-2 border-blue-200 outline-none
  }

  .options-input-label
  {
    @apply font-franklin text-lg font-semibold
  }

  .intro-card
  {
    @apply rounded-2xl bg-slate-100 shadow-[12px_9px_11px_rgba(153,_204,_255,_0.25)] lg:w-3/6 sm:w-4/6 w-5/6 flex flex-col items-center justify-center gap-[3rem] lg:p-12 py-6 xl:flex-row xl:justify-start mb-14
  }

  .intro-image
  {
    @apply rounded-2xl xl:w-2/6 w-3/6
  }

  .intro-text
  {
    @apply w-4/6 flex flex-col items-start justify-start gap-[2rem]
  }

  .intro-name
  {
    @apply text-3xl
  }

  .intro-about
  {
    @apply text-sm text-left
  }
}